* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  font-family: sans-serif;
}

*::selection {
    background-color: crimson;
    color: #FFF;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.banner video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.banner .content {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  z-index: 1;
}

header {
  width: 97%;
  padding-top: 20px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  list-style: none;
  font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header nav ul li a:hover {
    cursor: pointer;
    color: crimson;
}


section {
    width: 45%;
    margin: 70px;
    margin-top: 200px;
}

h1 {
    display: flex;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 26px;
    color: rgb(172, 172, 172);
}

.space {
    width: 13px;
}


.botao {
    margin-top: 30px;
    height: 39px;
    width: 110px;
    border-radius: 5.5px;
    background-color: crimson;
    border: none;
    font-size: 17px;
}

:root {
    --colorBack: #040305;
    --colorRed: crimson;
    --colorGrey: rgb(172, 172, 172);
}

section h1 span {
    animation: motion 3s ease-in-out infinite;
}

section h1 span:nth-of-type(2) {
    animation-delay: 0.25s;
}
section h1 span:nth-of-type(3) {
    animation-delay: 0.50s;
}
section h1 span:nth-of-type(4) {
    animation-delay: 0.75s;
}
section h1 span:nth-of-type(5) {
    animation-delay: 1s;
}
section h1 span:nth-of-type(6) {
    animation-delay: 1.25s;
}
section h1 span:nth-of-type(7) {
    animation-delay: 1.50s;
}
section h1 span:nth-of-type(8) {
    animation-delay: 1.75s;
}
section h1 span:nth-of-type(9) {
    animation-delay: 2s;
}
section h1 span:nth-of-type(10) {
    animation-delay: 2.25s;
}
section h1 span:nth-of-type(11) {
    animation-delay: 2.50s;
}




@keyframes motion {
    0% {
        color: #FFF;
        text-shadow: 0 0 12px var(--colorRed), 0 0 50px var(--colorRed), 0 0 100px var(--colorRed);
    }
    10%, 90% {
        color: var(--colorGrey);
        text-shadow: none;
    }
}
